/** default font size */
body {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.container {
  width: 900px;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@font-face {
  font-family: 'primary';
  src: url(../../fonts/indieflower.ttf);
}
header {
  position: relative;
  height: 200px;
  color: #1A1423;
}
header .wrapper {
  width: 65%;
  margin: 0 auto;
}
header .title {
  padding: 30px 0 10px 0;
  font-size: 50px;
}
header .title span {
  font-family: 'primary';
  font-size: 20px;
  font-style: italic;
}
header .authors {
  font-family: 'primary';
  font-size: 30px;
  text-align: right;
  color: #82204A;
}
header .tab-holder {
  margin-top: 40px;
  padding: 5px;
  text-align: center;
  color: #464655;
}
header .tab {
  font-weight: bold;
  opacity: 0.7;
  margin: 0 5px;
}
header .tab:hover {
  opacity: 1;
  -webkit-transition: 300ms;
          transition: 300ms;
  cursor: pointer;
}

.content-item {
  margin-top: 30px;
  width: 100%;
  height: 300px;
  background: navajowhite;
  border-radius: 30px;
}
.content-item img {
  position: relative;
  float: left;
  width: 300px;
  height: 100%;
  opacity: 0.9;
}
.content-item img:hover {
  opacity: 1;
  -webkit-transition: 300ms;
          transition: 300ms;
  cursor: pointer;
}
.content-item .content-header-text {
  position: relative;
  float: left;
  width: 500px;
  padding: 20px 20px;
  font-size: 30px;
  font-weight: bold;
}
.content-item .content-text {
  position: relative;
  float: left;
  width: 500px;
  padding-left: 20px;
  font-style: italic;
}

footer {
  width: 100%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 10px;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
/* Smartphones (portrait and landscape) ----------- */
@media (min-width: 320px) and (max-width: 480px) {
  .naslov {
    padding-left: 30%;
  }

  h1 {
    font-size: 20px;
  }

  h4 {
    font-size: 13px;
    padding-top: 35px;
  }

  .content {
    width: 250px;
  }
}
/* iPads (portrait and landscape) ----------- */
@media (min-width: 768px) and (max-width: 1024px) {
  .naslov {
    padding-left: 35%;
  }

  h1 {
    font-size: 35px;
  }

  h4 {
    padding-top: 42px;
  }

  .content {
    width: 600px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .naslov {
    padding-left: 35%;
  }

  h1 {
    font-size: 28px;
  }

  h4 {
    font-size: 18px;
    padding-top: 37px;
  }

  .content {
    width: 600px;
  }
}
