<header class="container clearfix">
    <div class="wrapper">
        <div class="title">
            MOSADAMO 
            <span>fashion</span> 
        </div>
        <div class="authors">by Haver &amp; Ufaceni</div>
    </div>

    <div class="tab-holder">
        <span class="tab" id="home" onclick="tabClick(this)">NEWS</span>
        <span class="tab" id="about" onclick="tabClick(this)">ABOUT</span>
        <span class="tab" id="fashion" onclick="tabClick(this)">FASHION</span>
        <span class="tab" id="wear" onclick="tabClick(this)">WEAR WHAT WE WEAR</span>
        <span class="tab" id="contact" onclick="tabClick(this)">CONTACT</span>
    </div>

</header>
 