{% extends "base.html" %}
{% block content %}
<div class="content">
    <div id="myModal" class="modal">
        <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="imageModal">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>   
    {% load static %}
    {% for image in images_list  %} 
        <div class="content-item">
            {% static "" as baseUrl %}
            <img onclick = "modal(this.id)" id="{{ forloop.counter }}" src="{{ baseUrl }}images/{{ image.url }}" />
            {{ image.date_pub }}
        </div>
    {% endfor %}

</div>
{% endblock %}
