.container{
    width:60%;
    margin:0 auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
} 

.content-left {
  position: relative;
  float: left;
  width: 20%;
  display: block;
}

.content-right {
  float: right;
  width: 18%;
}