@charset "utf-8";

/** default font size */
$font-base: 16px !default;
$font-test: 15px !default;

body {
    transform: translateZ(0);
}

$bg-color: #FFFCF2;
$header-text-color: #1A1423;
$tab-text-color: #464655;
$main-content-color: navajowhite;
$important-text: #82204A;
