header {
    position: relative;
    height: 200px;
    color: $header-text-color;
    
    .wrapper {
        width:65%; 
        margin: 0 auto;
    }

    .title {
        padding: 30px 0 10px 0;
        font-size: 50px;

        span { 
            font: {
                family: 'primary';
                size: 20px;
                style: italic;
            }
        }
    }

    .title:hover{
        cursor: pointer;
    }

    .authors {
        font-family: 'primary';
        font-size: 30px;
        text-align: right;
        color: $important-text;
    }
    .authors:hover{
       cursor: pointer;
    }

    .tab-holder {
        margin-top: 40px;
        padding: 5px;
        text-align: center;
        background: lightgray;
        color: black;
        border-radius: 10px;
    }

    .tab {
        font-weight: bold;
        opacity: 0.7;
        margin: 0 5px;
        border-right: solid black 1px;
        border-left: solid black 1px;
        border-radius: 1px;
    }

    .tab:hover {
        opacity: 1;
        transition: 300ms;
        cursor: pointer;
    }
}
 
