/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
/* Smartphones (portrait and landscape) ----------- */
@media  (min-width : 320px) and (max-width : 480px) {
    .naslov{
        padding-left:30%;
    }
    h1{
        font-size:20px;
    }
    h4{
        font-size:13px;
        padding-top:35px;
    }
    .content{
       
        width:250px;
    }
}

/* iPads (portrait and landscape) ----------- */
@media (min-width : 768px) and (max-width : 1024px) {
    .naslov{
        padding-left:35%;
    }
    h1{
        font-size:35px;
    }
    h4{
    
        padding-top:42px;
    }
    .content{
        width:600px;
    }
}

@media (min-width : 481px) and (max-width : 767px) {
    .naslov{
        padding-left:35%;
    }
    h1{
        font-size:28px;
    }
    h4{
        font-size:18px;
        padding-top:37px;
    }
    .content{
        width:600px;
    }
}