{% extends "base.html" %}
{% block content %}
<div class="content container">
   
    {% load static %}
    {% for image in images_list  %} 
        <div class="content-item">
            {% static "" as baseUrl %}
            <img id="{{ forloop.counter }}" src="../{{ image.url }}" />
            <div id="{{ forloop.counter }}" class="content-header-text">{{ image.title }}</div>
            <div class="content-text">{{ image.desc }}</div>
        </div>
    {% endfor %}
    <footer>
        Powered by mosadamo 2017.
    </footer>
</div>
{% endblock %}
